doctype html
html
  head
    meta(charset='UTF-8')
    title Index - IEEE
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='stylesheet', href='../../stylesheets/materialize.min.css')
  body
    block content
        link(rel='stylesheet', href='../../stylesheets/index.css')
        link(rel='stylesheet', href='../../stylesheets/ieee.css')
        .row
          .col.s12.m12.l12.center-align.container-logos
            // CONTAINER LOGOS
            .col.s12.m12.l12.left-align
                h4.center-align  Registro de usuario
          // END CONTAINER LOGOS
          .bg-ieee.col.s12.m12.l12.white-text.center-align
            // CONTAINER LOGIN - REGISTER
            h1.center-align
            p.center-align Bienvenido #{name}
            p.center-align Por favor, confirma tus datos
            figure
              img.responsive-img.circle(src="#{picture}")
            .col.s12.m12.l12.center-align.input-field
              input(type="text", name="name", value="#{name}", placeholder="Tú Nombre", id="name")
              label(for="name")| Nombre
        script(src='../../javascripts/jquery-2.1.1.min.js')
        script(src='../../javascripts/materialize.min.js')
        script(src='../../javascripts/hello.all.js')
        script(src='../../javascripts/ieee.js')
        script.
          $(function(){
              Materialize.updateTextFields();
              var aux = '!{id}';
              console.log(aux);
              ieee.facebook.init();//inicia la funcionalidad de facebook
              var response = ieee.facebook.response();//escucha a facebook para determinar el estado del login
              if(response == true){ // realiza la verificación si ya he logueado en el sistema, de ser así, debería redireccionar directamente al inicio
                  //document.location = "/home/";//redirecciono al home si todo está ok con la sessión.
                  ieee.facebook.me(function(me){ //verifico el usuario, para obtener el fbID
                    $.get("/users/user/"+me.id,function(data, status){
                      if(!data.user.length == 0) ieee.core.redirect("/home")

                    });
                  });
              }
          });
